.social-container {
    width: 100%;
}

.social {
    display: flex;
    justify-content: flex-end;

}


header {
    background-image: url("../img/actorlg.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #423D89;
    flex-direction: column;

    margin-top: 40px;

}


header .box {
    max-width: 600px;

}

header .container {

    padding: 120px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (max-width: 1366px) {

    header {
        background-image: url("../img/ipad-hor.png");

    }


    header .container {

        padding: 120px 0;

    }
    
    .social-container {
    
        width: auto;

}
    
    



    .social {
        justify-content: flex-start;
    }

    header .button {
        font-size: 32px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 40px;
    }

    .btn-description {
        font-size: 24px;
    }
}


@media screen and (max-width: 1024px) {

    header {
        background-image: url("../img/ipad.png");

    }

}





@media screen and (max-width: 480px) {
    header {
        background-image: url("../img/iphone.png");
        background-size: contain;

    }

    .social {

        justify-content: flex-start;
    }
    
       .social-container {
    
        width: 100%;

}

    header .button {
        font-size: 16px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 20px;
    }

    .btn-description {
        font-size: 16px;
    }

    header .container {

        padding: 60px 0;

    }

    .btn-description {
        visibility: hidden;
        width: 0;
        height: 0;
    }

}
